.our_col{
    display: flex;
    margin-bottom: 25px;
}
.our_col .row{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    text-align: justify;
}
@media (max-width:766px) {
    .our_col{
        display: block;
    }
    .our_col .row{
        display: block;
        margin-top: 45px;
        text-align: justify;
    }
}